@font-face {
  font-family: 'ukai';
  src: url('../font/UKaiCN.eot');
  src:
    url('../font/UKaiCN.eot?#font-spider') format('embedded-opentype'),
    url('../font/UKaiCN.woff') format('woff'),
    url('../font/UKaiCN.ttf') format('truetype'),
    url('../font/UKaiCN.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #fff;
  margin: 0;
  font-family: 'Mate', Georgia, 'Times New Roman', Times, STKaiti, "楷体","楷体_GB2312", 'AR PL UKai CN', 'ukai', serif;
  /* font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif; */
  font-size: 20px;  
  color: #333;
}

nav.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px solid #e3e3e3;
  padding-right: 20px;
  position: sticky;
  top: 0;
  background-color: #fff;
}

nav.navigation a {
  color: #333;
  text-decoration: none;
}

nav.navigation .logo {
  font-size: 30px;
  background-color: #333;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  padding: 0 15px;
}

nav.navigation .logo a {
  color: #fff;
  font-family: 'Lobster', cursive;
}

nav.navigation ul.links {
  margin: 0;
  display: flex;
}

nav.navigation .menu {
  display: none;
}

nav.navigation ul.links li {
  list-style: none;
}

nav.navigation ul.links li a {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  padding: 0 15px;
  font-size: 20px;
  font-family: 'Lobster', cursive, Georgia, 'Times New Roman', Times, STKaiti, "楷体","楷体_GB2312", 'AR PL UKai CN', serif;
}

nav.navigation ul.links li a.active, nav.navigation ul.links li a:hover {
  color: #fff;
  background-color: #333;
}

.container {
  max-width: 750px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100vh - 100px - 60px);
}

.container .post {
  padding: 20px 0;
  line-height: 1.8;
}

.container .post h1.title {
  font-size: 34px;
  font-family: 'Lobster', cursive, Georgia, 'Times New Roman', Times, STKaiti, "楷体","楷体_GB2312", 'AR PL UKai CN', serif;
}

.container .post h4 {
  /* background-color: #e3e3e3;
  border-left: 5px solid #333;
  padding-left: 10px; */
  margin-bottom: -5px;
  font-size: 22px;
}

.container .post .meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .post .tags a.tag {
  color: #999;
  margin-right: 10px;
}

.container .post .datetime {
  color: #999;
}

.container .post article {
  padding-top: 24px;
}

.list {
  padding-top: 20px;
}

.list h1.title {
  font-size: 30px;
  font-family: 'Lobster', cursive, Georgia, 'Times New Roman', Times, STKaiti, "楷体","楷体_GB2312", 'AR PL UKai CN', serif;
}
.list h1.title a {
  color: #333;
  text-decoration: none;
}
.list h1.title a:hover {
  text-decoration: underline;
}

.list .item {
  margin-bottom: 30px;
  border-bottom: 1px dotted #e3e3e3;
  padding-bottom: 30px;
}
.list .item:last-child {
  border-bottom: 1px dotted #fff;
}

.list .item .meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list .item .meta .tags span {
  margin-right: 10px;
}

.list .item .meta .tags .tag {
  color: #999;
  margin-right: 10px;
}

.list .item .meta .datetime {
  color: #999;
}

.footer {
  background-color: #333;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 14px;
}

code {
  background-color: #333;
  color: #fff;
  display: inline-block;
  padding: 0 10px;
  border: 5px solid #ccc;
  font-size: 16px;
  font-family: 'PT Mono', monospace;
}

pre {
  background-color: #333;
  color: #fff;
  padding: 20px;
  border: 5px solid #ccc;
}

pre code {
  border: 0;
}

@media screen and (max-width:768px) {
  
  nav.navigation {
    background-color: #333;
  }

  nav.navigation ul.links {
    display: none;
  }

  nav.navigation .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 87px;
    height: 60px;
    margin-right: -20px;
    background-color: #333;
    color: #fff;
    position: relative;
    cursor: pointer;
  }
  nav.navigation .menu:hover {
    background-color: #fff;
    color: #333;
  }
  .menu-container {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    /* width: 300px; */
    /* height: 600px; */
    background-color: #fff;
    z-index: 100;
    border-left: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
  }
  .menu-container a {
    display: block;
    text-align: right;
    line-height: 40px;
    padding: 10px 20px;
    font-family: 'Lobster', cursive, Georgia, 'Times New Roman', Times, STKaiti, "楷体","楷体_GB2312", 'AR PL UKai CN', serif;
  }
  .menu-container a:hover {
    color: #fff;
    background-color: #333;
  }

  .list .item .meta {
    display: block;
  }
  .list .item .meta .datetime {
    margin-top: 10px;
  }

  .container .post .meta {
    display: block;
  }

  .footer {
    font-size: 12px;
  }
}